[Unit]
Description=files.d3ff.se website

[Service]
Environment=PORT=3001
WorkingDirectory=/srv/websites/nodejs/files.d3ff.se/
ExecStart=/usr/bin/node server/www.js >/dev/null 2>&1
Restart=always
RestartSec=1000ms
StartLimitInterval=0

[Install]
WantedBy=default.target
